body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
	background: #f9f9f9;
	padding-top: 90px;
}

.ph_upcoming_ul {
	padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ph_coming_li {
	list-style-type: none;
	margin: 10px;
	width: 280px;
	height: 214px;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.ph_coming_li .content {
	width: 100%;
	height: 214px;
	color: white;
	padding: 15px;
    position: relative;
    cursor: pointer;
}

.ph_news_owner {
	position: absolute;
    bottom: 0;
    right: 10px;
}

.ph_nav {
	background-color: white !important;
	border-bottom: 1px solid rgb(241, 241, 241);
}

.ph_underline {
	padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.ph_nav_input {
	border-left: 0px !important;
	padding-left: 0px;
}
.ph_nav_search {
	height: 30px;
	background: white !important;
	border-right: 0px !important;
	color: #868e95;
	/*border: 0 !important;
	border-top: 1px solid rgba(0,0,0,.15);
	border-left: 1px solid rgba(0,0,0,.15);
	border-bottom: 1px solid rgba(0,0,0,.15);*/
}

.ph_nav_input:focus {
	border-color: rgba(0,0,0,.15) !important;
}


/*
	Slider Page
*/

.green_slide {
	min-height: 381px;
	color: rgb(36, 36, 36);
	width: 100%;
    padding: 22px;
    background: #ffffff; /*#62b366;*/
    text-align: center;
}

.green_slide a{
	color: rgb(36, 36, 36) !important;
	text-decoration: underline;
}

.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
	background-color: black;
}



